.faq-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-title {
  height: auto; 
  font-family: Battambang;
  font-size: 40px;
  font-weight: 400;
  line-height: 72.27px;
  text-align: center;
  margin-top: 80px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(14, 33, 99, 1);  
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  background: rgba(232, 236, 248, 1);
  padding: 10px;
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #e2e2e2;
}

.faq-question {
  font-family: Battambang;
  font-size: 24px;
  font-weight: 400;
  line-height: 43.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(14, 33, 99, 1);
  padding-right: 15px;
}

.faq-answer {
  margin-top: 10px;
  font-family: Battambang;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.36px;
  text-align: left;
  color: rgba(14, 33, 99, 1);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-height: 0; /* Initially hidden */
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* Animate max-height */
}

.faq-answer.open {
  max-height: 500px; /* Adjust based on answer length */
}


.faq-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-icon svg {
  transition: transform 0.3s ease;
}

.faq-answer.open + .faq-icon svg {
  transform: rotate(180deg); /* Rotate icon when open */
}

@media (max-width: 1000px) {
  .faq-container{
    width: 900px;
  }
}
@media (max-width: 9000px) {
  .faq-container{
    width: 800px;
  }
}
@media (max-width: 800px) {
  .faq-container{
    width: 700px;
  }
  .faq-title{
    line-height: 50px;
  }
}
@media (max-width: 700px) {
  .faq-container{
    width: 600px;
  }
}
@media (max-width: 600px) {
  .faq-container{
    width: 500px;
  }
  .faq-answer, .faq-question{
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .faq-container{
    padding-left: 0 !important;
    width: 400px;
  }
  .faq-title{
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 400px) {
  .faq-container{
    width: 300px;
  }
}
