.sidebar{
width: 100%;
margin: 0 auto;
padding: 0;
height: auto;
display: block;
}
.sidebar-container{
background-image: url('../assets/matras6.png');
background-size: cover; /* Tasvirni konteynerga moslash */
  background-position: center; /* Tasvirni markazda joylash */
  background-repeat: no-repeat; /* Takrorlanmasligi uchun */
height: 500px;
margin-top: 150px;
}
.sidebar-text{
    top: 150px;
    width: 1230px;
    height: 232px;
    gap: 0px;
    opacity: 0px;
margin: 0 auto;
font-family: Battambang;
font-size: 32px;
font-weight: 300;
line-height: 57.81px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
position: relative;
color: rgba(255, 255, 255, 1);
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);

}
.sidebar-navbar{
    width: 1200px;
    height: 600px;
    top: 5189px;
    left: 120px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   list-style: none;
   align-items: center;
    
}
.sidebar-navbar-list{
text-align: center;
margin-top: 150px;
width: 282px;
height: 409px;
padding: 12px 0px 0px 0px;
gap: 24px;
opacity: 0px;

}
.sidebar-title{
    font-family: Italianno;
    font-size: 96px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 auto;
    color: rgba(14, 33, 99, 1);
    margin-top: 150px;  
}
.sidebar-navbar-list-title{
    font-family: Battambang;
    font-size: 24px;
    font-weight: 400;
    line-height: 43.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(14, 33, 99, 1);
}
    
.sidebar-navbar-list-text{
    font-family: Battambang;
    font-size: 18px;
    font-weight: 300;
    line-height: 32.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(14, 33, 99, 1); 
}
@media (max-width: 1200px) {
  .sidebar-container{
    width: 100% !important;
  }  
  .sidebar-text{
    width: 90%;
    margin: 0 auto;
  }
  .sidebar-navbar{
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1100px) {
    .sidebar-container{
      width: 1000px;
    }  
    .sidebar-navbar{
        width: 1000px;
  }}
  @media (max-width: 1000px) {
    .sidebar-container{
      width: 900px;
      height: 350px;
    }  
    .sidebar-navbar{
        width: 900px;
  }
    .sidebar-text{ 
        position: relative;
        top: 100px;
        font-size: 24px;
        line-height: 34px;
    }

  }
  @media (max-width: 900px) {
    .sidebar-container{
      width: 800px;
    }  
    .sidebar-navbar{
        width: 800px;
  }
  }
  @media (max-width: 800px) {
    .sidebar-container{
      width: 700px;
    }
    .sidebar-navbar{
        width: 700px;
  }
    .sidebar-title{
        font-size: 70px;
        line-height: 88px;
        margin-top: 30px;
    }
    .sidebar-navbar{
        height: auto;
        flex-direction: column;
    }  
    .sidebar-navbar-list{
        height: auto;
        margin-top: 20px;
    }
  }
  @media (max-width: 700px) {
    .sidebar-container{
      width: 600px;
    } 
    .sidebar-navbar{
        width: 600px;
  } 
  }
  @media (max-width: 600px) {
    .sidebar-container{
      height: 400px;
    }  
    .sidebar-title{
        font-size: 66px;
    }
    .sidebar-text{
        font-size: 20px;
        line-height: 30px;
    }

    .sidebar-navbar{
        width: 500px;
  }
  }
  @media (max-width: 500px) {
    .sidebar-container{
      width: 400px;
    }  
    .sidebar-text{
        font-size: 16px;
        line-height: 26px;
    }
    .sidebar-title{
        font-size: 56px;}
    .sidebar-navbar{
        width: 400px;
  }
  .sidebar-navbar-list-title{
    font-size: 20px;
  }
  .sidebar-navbar-list-text{
    font-size: 14px;
    line-height: 26px;
  }
  }
  @media (max-width: 400px) {
    .sidebar-container{
      width: 300px;
    }  
    .sidebar-navbar{
        width: 300px;
  }
  }
  @media (max-width: 300px) {
    .sidebar-container{
      width: 280px;
    }  
    .sidebar-navbar{
        width: 280px;
  }
  }