.contacther-container {
  width: 984px;
  height: 642px;
  position: relative;
  top: 80px;
  gap: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  opacity: 0px;  
}
.contact-img {
  display: block;
  width: 486px;
  height: 508px;
}
.contact-form {
  width: 588px;
  height: 518px;
  gap: 24px;
}
.contact-inp {
  font-family: Battambang;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  color: rgba(108, 108, 108, 1);
  width: 570px;
  height: 62px;
  padding: 14px 0px 0px 20px;
  background: rgba(232, 236, 248, 1);
  border: transparent;
  gap: 10px;
  margin-top: 5px !important;
margin-bottom: 15px !important;
}
.contact-inpus {
font-family: Battambang;
font-size: 14px;
font-weight: 300;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
  border: transparent;
  background: rgba(232, 236, 248, 1);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(108, 108, 108, 1);
  width: 100%; /* 100% o'lchamdagi kenglik */
  max-width: 570px; /* Maksimal kenglikni 500px bilan cheklash */
  max-height: 150px; /* Balandlikni 150px ga cheklash */
  resize: vertical; /* Foydalanuvchi maydonni faqat vertikal yo'nalishda o'zgartirishi mumkin */
  padding-left: 20px;
}
.contact-label {
  font-family: Battambang;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  color: rgba(14, 33, 99, 1);
}
.contact-btn {
  width: 595px;
  border: transparent;
  height: 62px;
  min-width: 250px;
  padding: 0px 20px 0px 24px;
  gap: 10px;
  font-family: Battambang;
  font-size: 20px;
  font-weight: 300;
  line-height: 36.13px;
  color: rgba(242, 245, 255, 1);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: rgba(14, 33, 99, 1);
  opacity: 0px;
  margin-top: 40px;
}
.contactsection{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 100px;
}
.contactsection-title{
  width: 100%;
  text-align: center;
}
.contactsection-list{
  width: 984px;
  height: 520px;
  gap: 106px;
  opacity: 0px;  
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  opacity: 0px;
    
}
.contactsection-navbar{
  width: 408px;
  height: 434px;
  gap: 24px;
  opacity: 0px;
  
}
.contactsection-text{
  width: 305px;
  height: 43px;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
  color: rgba(0, 0, 0, 1);  
  font-family: Battambang;
  font-size: 24px;
  font-weight: 400;
  line-height: 43.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}
.contactsection-link{
  width: 408px;
height: 50px;
text-decoration: none;
gap: 0px;
opacity: 0px;
font-family: Lexend Deca;
font-size: 20px;
font-weight: 200;
line-height: 25px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  color: rgba(0, 0, 0, 1);
  
}
.contactsection-title{
  height: 150px;
  font-family: Italianno;
  font-size: 96px;
  font-weight: 400;
  line-height: 120px;
  text-align: center;
  margin: 0 auto;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
  
}
.contactsection-kart{
  width: 470px;
  height: 470px;
}
@media (max-width: 1200px) {
  .contactsection{
    width: 1100px;
  }
  .contacther-container{
    width: 1100px;
  }
  .contactsection-list{
    width: 1100px;
  }
  .contact-img{
    width: 48%;
  }
  .contact-form{
    width: 50%;
  }
  .contact-inp, .contact-inpus{
    width: 90%;
  }
  .contact-btn{
    width: 95%;
  }
  .contactsection-kart{
    width: 50%;
  }
  .contactsection-navbar{
    width: 48%;
  }
  .contactsection-link{
    width: 90% !important;
    display: block;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .contactsection{
    width: 1000px;
  }
  .contactsection-list{
    width: 1000px;
  }
  .contacther-container{
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  .contactsection{
    width: 900px;
  }
  .contacther-container{
    width: 900px;
  }
  .contactsection-title{
    width: 100%;
    margin: 0 auto;
    font-size: 76px;
  }
  .contactsection-list{
    width: 900px;
  }
}@media (max-width: 900px) {
  .contactsection{
    width: 800px;
  }
  .contactsection-list{
    width: 800px;
  }
  .contacther-container{
    width: 800px;
  }
}
@media (max-width: 800px) {
  .contactsection{
    width: 700px;
  }
  .contactsection-list{
    width: 700px;
  }
  .contacther-container{
    width: 700px;
  }
}
@media (max-width: 700px) {
  .contactsection{
    width: 600px;
  }
  .contacther-container{
    width: 600px;
    height: auto;
    position: relative;
    top: 100px;
    flex-direction: column-reverse;
  }
  .contact-form{
   position: relative;
  top: 30px;
  bottom: 30px;
   height: 600px;
    width: 90%;
    margin: 0 auto;
  }
  .contact-img{
    width: 88%;
    margin: 0 auto;
  }
  .contactsection-list{
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .contactsection-kart{
    width: 90%;
    margin: 0 auto;
  }
  .contactsection-link{
    width: 90%;
    text-align: left;
    margin-left: 0 !important;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contactsection-text{
    width: 90%;
    text-align: left;
  }
  .contactsection-navbar{
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .contactsection{
    width: 500px;
  }
  .contacther-container{
    width: 500px;
  }
  .contactsection-list{
    width: 500px;
  }
  .contactsection-title{
    font-size: 66px;
  }
}
@media (max-width: 500px) {
  .contactsection{
    width: 400px;
  }
  .contacther-container{
    width: 400px;
  }
  .contactsection-list{
    width: 400px;
  }
  .contactsection-title{
    font-size: 52px;
  }
  .contactsection-text{
    font-size: 18px;
  }
  .contactsection-kart{
    height: 350px;
  }
  .contactsection-link{
    font-size: 18px;
  }
  .contact-img{
    height: 350px;
  }
  .contact-label, .contact-inp, .contact-inpus, .contact-btn{
    font-size: 18px;
  }
}
.contact-inp, .contact-inpus{
  height: 50px;
 padding-top: 5px;
}
.contact-btn{
  height: 50px;
}
@media (max-width: 400px) {
  .contactsection{
    width: 300px;
  }
  .contacther-container{
    width: 300px;
  }
  .contactsection-list{
    width: 300px;
  }
  .contactsection-title{
    font-size: 44px;
    height: auto;
    line-height: 50px;
  }
}
@media (max-width: 300px) {
  .contactsection{
    width: 280px;
  }
  .contacther-container{
    width: 280px;
  }
  .contactsection-list{
    width: 280px;
  }
}