.content {
  width: 100%;
  margin: 0;
  padding: 0;
}
.content-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.content-title {
  font-family: Italianno;
  font-size: 96px;
  height: 120px;
  font-weight: 400;
  line-height: 120px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(14, 33, 99, 1);
}
.content-navbar {
  width: 258px;
  margin: 30px;
  height: 50px;
  gap: 18px;
  opacity: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.customer-name {
  height: 32px;
  color: rgba(242, 245, 255, 1);
  font-family: Battambang;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-feedback {
  width: 272px;
  height: 300px;
  margin-top: -10px;
  margin-left: 50px;
  gap: 0px;
  opacity: 0px;
  font-family: Battambang;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(242, 245, 255, 1);
}
.customer-rating {
  width: 250px;
  margin-left: 50px;
}
.custom-swiper-buttonses {
  margin-left: 45%;
  display: flex;
  gap: 20px;
}

.custom-swiper-button-preve,
.custom-swiper-button-nexte {
  background-color: white;
  color: rgb(5, 5, 5);
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
}
.overlay {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 33, 99, 0.85) !important;
}
@media (max-width: 1200px) {
  .content-container {
    width: 1100px;
  }
  .swiper-wrapper{
    position: relative;
    left: 0;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media (max-width: 1100px) {
  .content-container {
    width: 1000px;
  }
  .content-title{
    position: relative;
    top: 50px;
    font-size: 64px;
  }
  .content-navbar{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
  }
  .swiper-slide{
    height: 450px !important;
  }
  .customer-rating{
    margin-left: 20px;
  }
  .customer-feedback{
    font-size: 16px;
    height: 250px;
    margin-left: 20px;
  }
  .overlay{
    height: 450px !important;
  }
}
@media (max-width: 1000px) {
  .content-container {
    width: 900px;
  }
  .customer-rating{
    margin-left: 50px;
  }
  .customer-feedback{
    font-size: 16px;
    height: 250px;
    margin-left: 50px;
  }
}
@media (max-width: 900px) {
  .content-container {
    width: 800px;
  }
}
@media (max-width: 800px) {
  .content-container {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .content-container {
    width: 600px;
  }
  .content-navbar{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
  }
  .swiper-slide{
    height: 450px !important;
  }
  .customer-rating{
    margin-left: 20px;
  }
  .customer-feedback{
    font-size: 16px;
    height: 250px;
    margin-left: 20px;
  }
  .overlay{
    height: 450px !important;
  }
}
@media (max-width: 600px) {
  .content-container {
    width: 500px;
  }
  .related-swiperes{
    display: flex;
    justify-content: center;
  }
  .content-navbar{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
  }
  .swiper-slide{
    height: 450px !important;
  }
  .customer-rating{
    margin-left: 20px;
  }
  .customer-feedback{
    font-size: 16px;
    height: 250px;
    margin-left: 20px;
  }
  .overlay{
    height: 450px !important;
  }
}
@media (max-width: 500px) {
  .content-container {
    width: 400px;
  }
  .custom-swiper-buttonses{
    margin-left: 30%;
  }
}
@media (max-width: 400px) {
    .content-container {
      width: 300px;
    }
  }
  @media (max-width: 300px) {
    .content-container {
      width: 280px;
    }
  }