.footer {
  background-image: url('../assets/matras7.png');
  background-size: cover; /* Tasvirni konteynerga moslash */
  background-position: center; /* Tasvirni markazda joylash */
  background-repeat: no-repeat; /* Takrorlanmasligi uchun */
  width: 100%;
  position: relative;
  top: 100px;
  height: 459px;
}
.footer-container {
    position: relative;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 259px;
  top: 100px;
  margin: 0 auto;
}
.footer-hero {
  display: flex;
  justify-content: space-between;
  width: 606px;
  height: 259px;
  gap: 24px;
  opacity: 0px;
}
.footer-navbar-text{
    font-family: Battambang;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: 161px;
    
}
.footer-link-nav{
position: relative;
right: 40px;
}
.footer-link, .footer-link-nav{
  width: 300px !important;
  display: block;
    font-family: Battambang;
    font-size: 20px;
    font-weight: 400;
    line-height: 36.13px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1); 
    align-items: center; 
    text-decoration: none; 
}
.footer-linkeses{
  width: 320px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* .footer-img{
position: relative;
top: -10px;
left: 30px; 
} */
.footer-images{
    position: relative;
    top: 10px;
    left: 40px; 
    }
    .footer-link-text{
      text-align: center;
    }
    .footer-listes{
      width: 300px;
      text-align: center;
        text-decoration: none;
        list-style: none;
    } 
    .footer-link-text:hover{
      color: chartreuse;
    }  
    .footer-listes-link{
      width: 101px;
      margin-bottom: 20px !important;
      text-decoration: none;
      height: 32px;
      gap: 0px;
      opacity: 0px;
      font-family: Battambang;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(255, 255, 255, 1);
            
    }
    @media (max-width: 1300px) {
      .footer-container{
        width: 1200px;
      }
      .footer-hero{
        width: 50%;
      }
      .footer-logos{
        width: 90%;
      }
      .footer-nav{
        width: 90%;
      }
      .footer-link{
      position: relative;
      right: 40px;
      }
      .footer-link-nav, .footer-link{
        width: 99% !important;
        font-size: 18px;
      }
      .footer-navbar-text{
        width: 90%;
      }
      .footer-linkeses{
        width: 100% !important;
        text-align: left;
      }
      .footer-logo{
        width: 40%;
        height:80%;
      }
      .footer-linkes{
        width: 45% ;
      }
      .footer-listes{
        width: 30%;
      }
    }
    @media (max-width: 1200px) {
      .footer-container{
        width: 1100px;
      }
    }
    @media (max-width: 1100px) {
      .footer-container{
        width: 1000px;
      }
    }
    @media (max-width: 1000px) {
      .footer-container{
        width: 900px;
      }
      .footer-navbar-text{
        width: 250px;
      }
    }
    @media (max-width: 900px) {
      .footer-container{
        width: 800px;
      }
    }
    @media (max-width: 800px) {
      .footer{
        width: 100%;
        height: 1000px;
      }
      .footer-link-text{
        width: 90%;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
      }
      .footer-listes-navbar{
        width: 100%;
      }
      .footer-container{
        width: 700px;
        flex-direction: column;
        height: auto;
        text-align: center;
      }
     
      .footer-linkes, .footer-listes, .footer-hero{
        width: 90% !important;
        height: auto;
        margin: 0 auto;
        height: auto;
        text-align: center;
        
      }
      .footer-listes-link{
        height: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .footer-listes{
        padding: 0;
        margin-top: 40px;
      }
      .footer-link {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      .footer-link-nav, .footer-link, .footer-listes-link{
        font-size: 14px;
      }
      .footer-linkeses{
        
        width: 200px !important;
        position: relative;
       margin: 0 auto;
      }
      .footer-nav{
        width: 100%;
        text-align: center;
      }
      .footer-link-nav{
        text-align: center;
      }
      .footer-logo , .footer-logos{
        width: 50%;

      }
      


    }
    @media (max-width: 700px) {
      .footer-container{
        width: 600px;
      }
    }
    @media (max-width: 600px) {
      .footer-container{
        width: 500px;
      }
      .footer-navbar-text{
        width: 100%;
        font-size: 12px;
      }
      .footer-logo{
        width: 80px;
        height: 120px;
      }
      .footer-hero{
        height: 300px;
      }
      .footer-logos{
        width: 150px;
        margin-left: -50px;
      }
    }
    @media (max-width: 500px) {
      .footer-container{
        width: 400px;
      }
      .footer{
        height: 1000px;
      }
      .footer-linkes{
        height: 300px;
      }
      .footer-link-text{
        width: 90%;
        text-align: center;
      }
    }
    @media (max-width: 400px) {
      .footer-container{
        width: 300px;
      }
    }